body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Oswald', cursive;
}

#header{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/niket-nigde-9N3rS-xLfkI-unsplash.jpg');
/*    background-size: cover;*/
    height: 410px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom: 3px solid black;
/*    margin-bottom: 100px;*/
}

#header-text{
    text-align: center;
    position: absolute;
    top: 17%;
    left: 25%;
    color: white;
    background-color: black;
    padding: 10px;
    border: 10px solid #EBC24C;
    border-radius: 10px;
}


#header h1{
    font-size: 5em; 
    margin: 10px;
    text-decoration: underline dotted #2767C1;
    font-family: 'Fugaz One', cursive;
}

#header h3{
    margin-top: 10px;
    font-size:2em;
    font-family: 'Oswald', sans-serif;
    font-style: oblique;
}

#topnav{
    width: 100%;
    background-color:black;
    color: white;
    font-size: 2em;
    text-align: center;
    height: 50px;
    cursor: pointer;
}

#topnav a{
    padding: 0px 10px;
    text-decoration: none;
}

#topnav a:hover{
    background-color: #D79FB8;
}

#topnav a.active{
    background-color: #2767C1;
}

/*map and controls*/
#content{
    margin-top: 75px;
    width: 100%;
    display: table;
}

#map {
    border: 3px solid black;
    width: 750px;
    height: 750px;
    float:left;
    margin-left: 13%;
    margin-right: 20px;
    margin-bottom: 20px;
}

#controls{
    border: 3px solid black;
    display: inherit;
    padding: 25px 20px 25px 25px;
    margin-left: 22.5%;
    height: 704px;
    width: 500px;
}

#div_add{display:none;}

#controls h3 {margin: 0; padding-bottom: 15px;}

.lnglat{
    width: 80px;
}

#controls button{
    margin-bottom: 5px;
}

button{
    font-size: 1em;
    display: block;
}

button:hover{background-color: lightblue;}

#controls label{
    font-size: 1.2em;
}

.marker {
    background-image: url('../images/mapbox-icon.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

footer{
    font-family: 'Oswald', sans-serif;
    border-top: 3px solid black;
/*    margin-top: 100px;*/
    background-color: #2767C1;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-top: 100px;
    text-align: center;
    font-size: 1.2em;
    color: lightgray;
}

.footer{
    display: inline-block;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

footer h4{
    padding-bottom: 10px; 
    margin: 0;
    font-size: 1.4em;
}

footer p{
    text-align: left;
    padding: 0;
    margin: 0;
}

h5{margin: 0; color: gray; text-indent: 20px; padding: 0;}
h5:hover{color: #D79FB8;}
a{color:inherit;}
footer a:hover{color: #D79FB8;}